<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="dark" mode="md">
      zflayn._ 
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">      
      <ion-button fill="clear" color="dark">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="dark">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-bio></app-bio>
<app-galeria></app-galeria>

